SERVER_APPVERSION=1.0
SERVER_HOST=0.0.0.0
SERVER_PORT=8000
SERVER_DEVELOPMENT=true
SERVER_CORS_ORIGINS=*
LOGGER_ENCODING=json
LOGGER_LEVEL=info
POSTGRES_HOST=localhost
POSTGRES_PORT=5432  
POSTGRES_USER=booking_user
POSTGRES_PASSWORD=booking_pass
POSTGRES_DATABASE=booking
POSTGRES_DRIVER=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=
MIGRATIONS_PATH=./migrations